<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Literary-lions forum</title>
    <link
      rel="icon"
      href="/static/assets/favicon_logo.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <nav>
      <div class="nav__wrapper">
        <a href="/">
          <img class="nav__logo" src="/static/assets/logo1.webp" alt="" />
        </a>
      </div>
    </nav>
    <section id="signup">
      <div class="signup__container">
        <div class="form_area">
          <p class="title">CHANGE PASSWORD</p>
          <!-- Display the error message -->
          {{if .Error}}
          <p class="error">{{.Error}}</p>
          {{end}}
          <form action="/profile/{{.UserID}}/password" method="POST" novalidate>
            <div class="form_group">
              <label class="sub_title" for="name">Current password:</label>
              <input
                name="currentPassword"
                class="form_style"
                type="password"
              />
            </div>
            <div class="form_group">
              <label class="sub_title" for="email">New password</label>
              <input name="newPassword" class="form_style" type="password" />
            </div>
            <div class="form_group">
              <label class="sub_title" for="password"
                >Confirm new password</label
              >
              <input
                name="newPasswordConfirmation"
                class="form_style"
                type="password"
              />
            </div>
            <div>
              <input class="signup__btn" type="submit" value="Confirm" />
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
